


<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-newEating="{{eaten}}">
		{{#if eaten}}Eat it now!{{else}}Eat Another One!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>