<style>
    .jumbotron {
        background-image: url("/images/fast.png");
        background-position: left center;
        background-size: cover;
    }


    .card {
        background: transparent
    }

    h5,
    h1 {
        color: white;
        font-family: 'Vidaloka', serif;
    }

    p {
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
    }
</style>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome! <br>
            Choose Your Restaurant</h1>
        <p class="lead">Where Would You Like To Go?</p>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        {{#each category}}
        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="McDonalds.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a href="/restaurant/{{id}}" class="btn btn-primary"
                        title="Click to view all food selections in {{name}}"> <i
                            class="fas fa-arrow-circle-right"></i>EAT {{name}}! <i
                            class="fas fa-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>
        {{/each}}



    </div>


</div>